/*---Typography---*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

*{
  /*Stylings*/
  font-family:"Open Sans", sans-serif;
}

/*---Container Positioning---*/
body{
  /*Positioning*/
  margin: 0px;
  padding: 0px;
}

header {
  /*Box and Display Model*/
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: .10%;
  padding-bottom: .10%;
  width: 100%;

  /*Stylings*/
  background-color: #404041;
  text-align: center;
}

main{
  /*Box and Display Model*/
  margin: auto;

  /*Stylings*/
  text-align: center;
  width: 85%;
}

section{
  /*Box and Display Model*/
  margin-left: auto;
  margin-right: auto;

  /*Stylings*/
  height: 240px;
  text-align: center;
  width: 75%;
}

input {
  /*Box and Display Model*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: auto;

  /*Stylings*/
  border-width: 1px;
  font-size: 20px;
  width: 60px;
  text-align: left;
}

input:focus{
  outline: none;
}

/*---Text Styling---*/

h1{
  /*Stylings*/
  color: #E6E7E8;
  font-size: 38px;
  font-weight: 300;

}
#title-num{
  /*Stylings*/
  color: #ED458B;
  font-size: 38px;
  font-weight: 700;
}

p{
  /*Box and Display Model*/
  margin-top: 10px;
  margin-bottom: 5px;

  /*Styling*/
  color: #929497;
  font-size: 22px;
}

.number-range{
  /*Stylings*/
  color: #7c7c7c;
  font-size: 24px;
}

/*---Displayed input via JS---*/

#your-guess{
  /*Box and Display Model*/
  margin-top: 15px;
  margin-bottom: 0px;

  /*Stylings*/
  color: #929497;
  font-size: 22px;
  text-align: center;
}

#guess-number{
  /*Box and Display Model*/
  margin-top: 0px;
  margin-bottom: 0px;

  /*Stylings*/
  color: #EB008B;
  font-size: 125px;
  text-align: center;
}

#guess-response{
  /*Box and Display Model*/
  margin-top: 0px;

  /*Stylings*/
  color: #929497;
  font-size: 22px;
  text-align: center;
}

/*---Button Styling and Formatting---*/

button {
  /*Box and Display Model*/
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;

  /*Stylings*/
  background-color: #929497;
  border-radius: 20px;
  border-width: 0px;
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  width: 155px;
}

button#reset{
  /*Box and Display Model*/
  display: block;
  font-size: 15px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
button#challenge{
  /*Box and Display Model*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}

button:hover{
  background-color: #EB008B;
  color: #ffffff;
}

button:active{
  background-color: #d0008B;
  color: #ffffff;
}

button:disabled{
  background-color: #D0D2D3;
  color: #ffffff;
}

button:focus{
  outline: none;
}


/*--Media Queries--*/

@media screen and (max-width : 768px) {

  section{
    /*Box and Display Model*/
    margin-left: auto;
    margin-right: auto;

    /*Stylings*/
    height: 140px;
    text-align: center;
    width: 90%;
  }

  /*#title-num{*/
    /*Stylings*/
    /*color: #ED458B;
    font-size: 2em;
    font-weight: 700;
  }*/
  h1{
    /*Stylings*/
    color: #E6E7E8;
    font-size: 1em;
    font-weight: 300;
  }

  p{
    /*Box and Display Model*/
    margin-top: 10px;
    margin-bottom: 10px;

    /*Styling*/
    color: #929497;
    font-size: 16px;
  }

  .number-range{
    /*Stylings*/
    color: #7c7c7c;
    font-size: 18px;
  }

  input {
    /*Box and Display Model*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: auto;

    /*Stylings*/
    border-width: 1px;
    font-size: 20px;
    width: 280px;
    text-align: left;
  }

  /*---Displayed input via JS---*/

  #your-guess{
    /*Box and Display Model*/
    margin-top: 10px;
    margin-bottom: 0px;

    /*Stylings*/
    color: #929497;
    font-size: 20px;
    text-align: center;
  }

  #guess-number{
    /*Box and Display Model*/
    margin-top: 0px;
    margin-bottom: 0px;

    /*Stylings*/
    color: #EB008B;
    font-size: 4.25em;
    text-align: center;
  }

  #guess-response{
    /*Box and Display Model*/
    margin-top: 0px;

    /*Stylings*/
    color: #929497;
    font-size: 20px;
    text-align: center;
  }

  button {
    /*Box and Display Model*/
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    /*Stylings*/
    background-color: #929497;
    border-radius: 20px;
    border-width: 0px;
    color: #ffffff;
    display: block;
    font-size: 18px;
    text-align: center;
    width: 275px;
  }

  button#reset{
    /*Box and Display Model*/
    display: block;
    font-size: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 275px;
  }
  button#challenge{
    /*Box and Display Model*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 275px;
  }

}

@media screen and (max-width : 321px) {

  section{
    /*Box and Display Model*/
    margin-left: auto;
    margin-right: auto;

    /*Stylings*/
    height: 140px;
    text-align: center;
    width: 90%;
  }

  h1{
    /*Stylings*/
    font-size: 2em;
    font-weight: 300;
  }

  #title-num{
    /*Stylings*/
    font-size: 1em;
    font-weight: 700;
  }


  p{
    /*Box and Display Model*/
    margin-top: 10px;
    margin-bottom: 10px;

    /*Styling*/
    font-size: 16px;
  }

  .number-range{
    /*Stylings*/
    font-size: 18px;
  }

  input {
    /*Box and Display Model*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: auto;

    /*Stylings*/
    border-width: 1px;
    font-size: 20px;
    width: 245px;
    text-align: left;
  }

  /*---Displayed input via JS---*/

  #your-guess{
    /*Box and Display Model*/
    margin-top: 10px;
    margin-bottom: 0px;

    /*Stylings*/
    font-size: 20px;
    text-align: center;
  }

  #guess-number{
    /*Box and Display Model*/
    margin-top: 0px;
    margin-bottom: 0px;

    /*Stylings*/
    font-size: 4.25em;
    text-align: center;
  }

  #guess-response{
    /*Box and Display Model*/
    margin-top: 0px;

    /*Stylings*/
    font-size: 20px;
    text-align: center;
  }

  button {
    /*Box and Display Model*/
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    /*Stylings*/
    border-radius: 20px;
    border-width: 0px;
    display: block;
    font-size: 18px;
    text-align: center;
    width: 275px;
  }

  button#reset{
    /*Box and Display Model*/
    display: block;
    font-size: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 275px;
  }
  button#challenge{
    /*Box and Display Model*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 275px;
  }
}
