/*---Typography---*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

*{
  /*Stylings*/
  font-family:"Open Sans", sans-serif;
}

/*---Container Positioning---*/
body{
  /*Positioning*/
  margin: 0px;
  padding: 0px;
}

header {
  /*Box and Display Model*/
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: .10%;
  padding-bottom: .10%;
  width: 100%;

  /*Stylings*/
  background-color: #404041;
  text-align: center;
}

main{
  /*Box and Display Model*/
  margin: auto;

  /*Stylings*/
  text-align: center;
  width: 85%;
}

section{
  /*Box and Display Model*/
  margin-left: auto;
  margin-right: auto;

  /*Stylings*/
  height: 140px;
  text-align: center;
  width: 90%;
}

input {
  /*Box and Display Model*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: auto;

  /*Stylings*/
  border-width: 1px;
  font-size: 20px;
  width: 245px;
  text-align: left;
}

input:focus{
  outline: none;
}

/*---Text Styling---*/

h1{
  /*Stylings*/
  color: #E6E7E8;
  font-size: 1.85em;
  font-weight: 300;
  margin-top: 6px;
  margin-bottom: 6px;

}
#title-num{
  /*Stylings*/
  color: #ED458B;
  font-weight: 700;
}

p{
  /*Box and Display Model*/
  margin-top: 10px;
  margin-bottom: 5px;

  /*Styling*/
  color: #929497;
  font-size: 16px;
}

.number-range{
  /*Stylings*/
  color: #7c7c7c;
  font-size: 18px;
}

/*---Displayed input via JS---*/

#your-guess{
  /*Box and Display Model*/
  margin-top: 10px;
  margin-bottom: 0px;

  /*Stylings*/
  color: #929497;
  font-size: 20px;
  text-align: center;
}

#guess-number{
  /*Box and Display Model*/
  margin-top: 0px;
  margin-bottom: 0px;

  /*Stylings*/
  color: #EB008B;
  font-size: 4.25em;
  text-align: center;
}

#guess-response{
  /*Box and Display Model*/
  margin-top: 0px;

  /*Stylings*/
  color: #929497;
  font-size: 20px;
  text-align: center;
}

/*---Button Styling and Formatting---*/

button {
  /*Box and Display Model*/
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  /*Stylings*/
  background-color: #929497;
  border-radius: 20px;
  border-width: 0px;
  color: #ffffff;
  display: block;
  font-size: 18px;
  text-align: center;
  width: 275px;
}

button#reset{
  /*Box and Display Model*/
  display: block;
  font-size: 15px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 275px;
}
button#challenge{
  /*Box and Display Model*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 275px;
}

button:hover{
  background-color: #EB008B;
  color: #ffffff;
}

button:active{
  background-color: #d0008B;
  color: #ffffff;
}

button:disabled{
  background-color: #D0D2D3;
  color: #ffffff;
}

button:focus{
  outline: none;
}

/*--Media Queries--*/

@media screen and (min-width : 650px){

  header {
    /*Box and Display Model*/
    margin-top: 0px;
    margin-bottom: 0px;

  }

  section{
    /*Box and Display Model*/
    margin-left: auto;
    margin-right: auto;

    /*Stylings*/
    height: 220px;
    text-align: center;
    width: 90%;
  }

  input {
    /*Box and Display Model*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: auto;

    /*Stylings*/
    border-width: 1px;
    font-size: 1.5em;
    width: 300px;
    text-align: left;
    }

  h1{
    /*Stylings*/
    color: #E6E7E8;
    font-size: 2.5em;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #title-num{
    /*Stylings*/
    color: #ED458B;
    font-weight: 700;
  }

  p{
    /*Box and Display Model*/
    margin-top: 10px;
    margin-bottom: 15px;

    /*Styling*/
    color: #929497;
    font-size: 20px;
  }

  .number-range{
    /*Stylings*/
    color: #7c7c7c;
    font-size: 24px;
  }

  #your-guess{
    /*Box and Display Model*/
    margin-top: 10px;
    margin-bottom: 0px;

    /*Stylings*/
    color: #929497;
    font-size: 1.5em;
    text-align: center;
  }

  #guess-number{
    /*Box and Display Model*/
    margin-top: 0px;
    margin-bottom: 0px;

    /*Stylings*/
    color: #EB008B;
    font-size: 6.25em;
    text-align: center;
  }

  #guess-response{
    /*Box and Display Model*/
    margin-top: 0px;

    /*Stylings*/
    color: #929497;
    font-size: 1.5em;
    text-align: center;
  }

  button {
    /*Box and Display Model*/
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    /*Stylings*/
    background-color: #929497;
    border-radius: 20px;
    border-width: 0px;
    color: #ffffff;
    display: block;
    font-size: 1.35em;
    text-align: center;
    width: 315px;
  }

  button#reset{
    /*Box and Display Model*/
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 315px;

    /*Styling*/
    font-size: 1.25em;
  }
  button#challenge{
    /*Box and Display Model*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 315px;
}

@media screen and (min-width : 1200px){

  header {
    /*Box and Display Model*/
    margin-top: 0px;
    margin-bottom: 0px;
    /*Styling*/
    height: 90px;
  }

  section{
    /*Box and Display Model*/
    margin-left: auto;
    margin-right: auto;

    /*Stylings*/
    height: 270px;
    text-align: center;
    width: 90%;
  }

  input {
    /*Box and Display Model*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: auto;

    /*Stylings*/
    border-width: 1px;
    font-size: 2em;
    text-align: left;
    width: 360px;
    }

  h1{
    /*Stylings*/
    color: #E6E7E8;
    font-size: 2.95em;
    font-weight: 300;
    margin-top: 15px;
  }

  #title-num{
    /*Stylings*/
    font-weight: 700;
  }

  p{
    /*Box and Display Model*/
    margin-top: 10px;
    margin-bottom: 15px;

    /*Styling*/
    color: #929497;
    font-size: 26px;
  }

  .number-range{
    /*Stylings*/
    color: #7c7c7c;
    font-size: 28px;
  }

  #your-guess{
    /*Box and Display Model*/
    margin-top: 10px;
    margin-bottom: 0px;

    /*Stylings*/
    color: #929497;
    font-size: 1.9em;
    text-align: center;
  }

  #guess-number{
    /*Box and Display Model*/
    margin-top: 0px;
    margin-bottom: 0px;

    /*Stylings*/
    font-size: 8.5em;
    text-align: center;
  }

  #guess-response{
    /*Box and Display Model*/
    margin-top: 0px;

    /*Stylings*/
    color: #929497;
    font-size: 1.9em;
    text-align: center;
  }

  button {
    /*Box and Display Model*/
    margin-top: 5px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 20px;

    /*Stylings*/
    background-color: #929497;
    border-radius: 20px;
    border-width: 0px;
    color: #ffffff;
    display: inline-block;
    font-size: 1.65em;
    text-align: center;
    width: 190px;
  }

  button#reset{
    /*Box and Display Model*/
    display: inline-block;;
    font-size: 1.4em;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 6px;
    width: 190px;
  }
  button#challenge{
    /*Box and Display Model*/
    display: inline-block;
    font-size: 1.4em;
    margin-left: 6px;
    margin-right: auto;
    width: 190px;


}
