@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

body{
  margin: 0px;
  padding: 0px;
}

header {
  text-align: center;
  width: 100%;
  background-color: #404041;
  padding-top: .10%;
  padding-bottom: .10%;
}

#title-num{
  font-family:"Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #ED458B;
}

#title-guess{
  font-family:"Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #E6E7E8;
}

main{
  margin: auto;
  width: 85%;
  text-align: center;
}

input {
  width: 54%;
  margin-top: 4%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: left;
  padding-left: 2%;
  padding-right: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
}
input:focus{
  outline: none;
}
p{
  font-family:"Open Sans", sans-serif;
  font-size: 18px;
  color: #929497;
}
#max{
  font-family:"Open Sans", sans-serif;
  font-size: 18px;
  color: #7c7c7c;
}
#min{
  font-family:"Open Sans", sans-serif;
  font-size: 18px;
  color: #7c7c7c;
}
#your-guess{
  margin-top: 15px;
  margin-bottom: 20px;
  font-family: "Open Sans";
  text-align: center;
  font-size: 40px;
  color: #929497;
}
#guess-number{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 150px;
  color: #EB008B;
}
#guess-response{
  margin-top: 0px;
  font-family: "Open Sans";
  text-align: center;
  font-size: 40px;
  color: #929497;
}
button {
  display: inline-block;
  text-align: center;
  border-width: 0px;
  font-family: "Open Sans", sans-serif;
  border-radius: 20px;
  background-color: #929497;
  color: #ffffff;
  font-size: 18px;
  margin-top: 4%;
  margin-left: 1%;
  margin-right: 1%;
  width: 27%;
}
button#reset{
  width: 57%;
}
button#challenge{
  margin-top: 4%;
  width: 57%;
  margin-bottom: 2%;
}

button:hover{
  background-color: #EB008B;
  color: #ffffff;
}

button:active{
  background-color: #d0008B;
  color: #ffffff;
}

button:disabled{
  background-color: #D0D2D3;
  color: #ffffff;
}

button:focus{
  outline: none;
}


/*--Media Queries--*/
@media screen and (max-width: 1824px){
  #title-num{
    font-size: 1.45em;
  }

  #title-guess{
    font-size: 1.45em;
  }

  input {
    margin-top: 0.75em;
    margin-bottom: 0.55em;
    font-size: 2.15em;
    width: 30%;
  }

  p{
    font-size: 1.55em;
    margin-bottom: 0em;
  }

  #max{
    font-size: 1.56em;
  }

  #min{
    font-size: 1.56em;
  }

  #your-guess{
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 1.75em;
  }
  #guess-number{
    font-size: 8.5em;
  }
  #guess-response{
    font-size: 1.75em;
    margin-bottom: 1em;
  }

  button {
    width: 17%;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.35em;
    margin-top: 2%;
  }

  button#reset{
    display: inline-block;
    width: 17%;
    margin-top: 0.5%;
  }

  button#challenge{
    display: inline-block;
    margin-top: 0.5%;
    width: 17%;
    margin-bottom: 2%;
    }
  }

@media screen and (max-width : 1224px){
  #title-num{
    font-size: 1.35em;
  }

  #title-guess{
    font-size: 1.35em;
  }
  input {
    font-size: 1.5em;
    width: 45%;
  }
  p{
    font-size: 1.3em;
    margin-bottom: 0em;
  }

  #max{
    font-size: 1.35em;
  }

  #min{
    font-size: 1.35em;
  }

  #your-guess{
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 1.75em;
  }
  #guess-number{
    font-size: 7.5em;
  }
  #guess-response{
    font-size: 1.75em;
    margin-bottom: 1em;
  }

  button {
    width: 20%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25em;
  }

  button#reset{
    display: block;
    width: 30%;
    margin-top: 1%;
  }

  button#challenge{
    display: block;
    margin-top: 2%;
    width: 30%;
    margin-bottom: 2%;
    }
  }

@media screen and (max-width : 950px) {
  #title-num{
    font-size: 1.30em;
  }

  #title-guess{
    font-size: 1.30em;
  }
  input {
    font-size: 1.42em;
    width: 50%;
  }
  p{
    font-size: 1.25em;
    margin-bottom: 0em;
  }

  #max{
    font-size: 1.3em;
  }

  #min{
    font-size: 1.3em;
  }

  #your-guess{
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 1.6em;
  }
  #guess-number{
    font-size: 6.75em;
  }
  #guess-response{
    font-size: 1.6em;
    margin-bottom: 1em;
  }

  button {
    width: 20%;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.195em;
  }

  button#reset{
    width: 35%;
    margin-top: 1%;
  }

  button#challenge{
    margin-top: 2%;
    width: 35%;
    margin-bottom: 2%;
  }
}




@media screen and (max-width : 768px){
  #title-num{
    font-size: 1.30em;
  }

  #title-guess{
    font-size: 1.30em;
  }
  input {
    font-size: 1.35em;
    width: 50%;
  }
  p{
    font-size: 1.15em;
    margin-bottom: 0em;
  }

  #max{
    font-size: 1.25em;
  }

  #min{
    font-size: 1.25em;
  }

  #your-guess{
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 1.6em;
  }
  #guess-number{
    font-size: 5.75em;
  }
  #guess-response{
    font-size: 1.6em;
    margin-bottom: 1em;
  }

  button {
    width: 23.5%;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.175em;
  }

  button#reset{
    width: 45%;
    margin-top: 1%;
  }

  button#challenge{
    margin-top: 2%;
    width: 45%;
    margin-bottom: 2%;
  }
}

@media screen and (max-width : 414px) {
  #title-num{
    font-size: 1.20em;
  }

  #title-guess{
    font-size: 1.20em;
  }
  header {
    padding-top: .05%;
    padding-bottom: .05%;
  }
  input {
    font-size: 1.2em;
    width: 60%;
  }
  p{
    font-size: 1.05em;
  }

  #max{
    font-size: 1.1em;
  }

  #min{
    font-size: 1.1em;
  }

  #your-guess{
    margin-top: 1.5em;
    margin-bottom: 0em;
    font-size: 1.6em;
  }
  #guess-number{
    font-size: 5em;
  }
  #guess-response{
    font-size: 1.6em;
  }

  button {
    width: 62.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.10em;
  }

  button#reset{
    width: 62.5%;
  }

  button#challenge{
    margin-top: 4%;
    width: 62.5%;
    margin-bottom: 2%;
  }
}

@media screen and (max-width : 320px) {
  #title-num{
    font-size: 1em;
  }

  #title-guess{
    font-size: 1em;
  }
  header {
    padding-top: .025%;
    padding-bottom: .025%;
  }
  input {
    font-size: 1.15em;
    width: 65%;
  }
  p{
    font-size: 1em;
  }

  #max{
    font-size: 1.15em;
  }

  #min{
    font-size: 1.15em;
  }

  #your-guess{
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 1.4em;
  }
  #guess-number{
    font-size: 4.5em;
  }
  #guess-response{
    font-size: 1.4em;
  }

  button {
    width: 60.5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: .95em;
  }
  button#reset{
    width: 60.5%;
  }

  button#challenge{
    margin-top: 4%;
    width: 60.5%;
    margin-bottom: 2%;
  }
}
